/* style.css */
/* Importing the Stack Sans Notch font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
}

header>nav>ul>li {
    display: inline;
    margin: 0 15px; 
} 

section {
    width: 80%;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}