* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Oswald", sans-serif;
    font-optical-sizing: auto;
}

body {
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    height: 100vh;
}

section {
    margin: 20px 0;
}

.hero_header_elements h1,.hero_header_elements p, .hero_header_elements button {
    margin: 10px 10px;
}

.a {
    background-color: rgb(245, 184, 42);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.b {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.a, .b {
    font-size: 1.2rem;
    border-radius: 5px;
}

.leistungen_elements {
    margin: 0 0 20px 0;
}

.hero_header_img img {
    width: 100%;
    height: auto;
}

.card {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
