/* style.css */
/* Importing the Stack Sans Notch font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: calc(16px + 1.0vw);
}

body {
    scroll-behavior: smooth;
}

.about {
    background-image: url(hero_2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #000000;
    color: honeydew;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.story {
    background-color: #000000;
    color: honeydew;
}

.name {
    font-size: 2rem;
}

.titel {
    font-size: 1rem;
}

.spruch {
    font-size: 0.8rem;
}

.name, .titel, .spruch {
    text-shadow: 4px 4px 4px #161414;
    color: honeydew;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

header>nav>ul>li {
    display: inline;
    margin: 0 15px; 
} 

.content {
    padding: 0.5rem 20px;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: honeydew;
}