/* style.css */
/* Importing the Stack Sans Notch font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

body {
    scroll-behavior: smooth;
    background-color: #f7f7f6;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about {
    background-image: url(hero_2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}


.story {
    background-color: honeydew;
    color: #262626;
}

.name {
    font-size: 4rem;
}

.titel {
    font-size: 2rem;
}

.spruch {
    font-size: 1rem;
}

.name, .titel, .spruch {
    text-shadow: 4px 4px 4px #161414;
    color: honeydew;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

header>nav>ul>li {
    display: inline;
    margin: 0 15px; 
} 

.content {
    padding: 0.5rem 20px;
    margin: 0 auto;
}

.hero {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: honeydew;
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2a2a2a;
}

footer {
    margin: 20px 0 0 0;
    padding: 20px;
    text-align: left;
    width: 100%;
    background-color: #262626;
    color: honeydew;
}

.copy
{
    font-size: 0.7rem;
    color: honeydew;
}

.footer-group {
    margin: 30px 0 0 0;
}

.footer-group * {
    margin: 5px 0;
    font-size: 0.8rem;
}

.bmore, .bkontakt {
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    border: none;
    min-width: 150px;
    max-width: 150px;
    background-color: #262626;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}